/* Fonts */

@font-face{
    font-family: Garamond-Italic;
    src:url('../fonts/Garamond-Italic.otf') format('otf'),
    url('../fonts/Garamond-Italic.woff') format('woff'),
    url('../fonts/Garamond-Italic.ttf') format('ttf'),
    url('../fonts/Garamond-Italic.svg') format('svg');
    font-display:swap;
}
@font-face{
  font-family: helvetica-Neue-Light;
  src:url('../fonts/Helvetica-Neue-Light.otf') format('otf'),
  url('../fonts/Helvetica-Neue-Light.woff') format('woff'),
  url('../fonts/Helvetica-Neue-Light.ttf') format('ttf'),
  url('../fonts/Helvetica-Neue-Light.svg') format('svg');
  font-display:swap;
}
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.main{
    font-family: helvetica-Neue-Light;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;

    @media(max-width:768px){
        font-size: 14px;
    }
    span{
        font-family: Garamond-Italic;
    }
    .page-wrapper{
        max-width: 984px;
        margin: auto;
        padding: 99px 0px 100px;
        text-align: center;
        .logo{
            width: 206px;
        }
        .page-title{
            font-weight: 300;
            font-size: 119.077px;
            line-height: 144px;
            margin-bottom: 0px;
            margin-top: 81px;
        }
        .page-subtitle{
            margin: 0.46px 0px 0px;
        }
        .page-links{
            margin: 111px 0px 156px;
            list-style-type: none;
            padding-left: 0px;
            .link{
                padding: 2.97px 0px;
                text-align: left;
                border-top: 1px solid black;
                position: relative;
                &:last-child{
                    border-bottom: 1px solid black;
                }
                a{
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 294.75%;
                    text-decoration: none;
                    color:black;
                    transition: color 250ms ease-in-out;

                    &:after{
                        content:"";
                        background-image: url(../images/arrow.svg);
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 35%;
                        height: 31.27px;
                        width: 38px;
                        overflow: hidden;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    @media(min-width:769px){
                        &:hover{
                            color:#00843E;

                            &::after{
                                background-image: url(../images/arrow-hovered.svg);
                            }
                        }
                    }
                }
            }
        }
        .page-footer-text{
            margin: 0px 0px 70px;
        }
        @media(max-width:1200px){
            max-width: 900px;
        }
        @media(max-width:768px){
            padding: 50px 20px 100px;
            .logo{
                width: 125px;
            }
            .page-title{
                margin-top: 40px;
                font-size: 40px;
                line-height: normal;
            }
            .page-subtitle{
                margin-top: 10px;
            }
            .page-links{
                margin: 60px 0px;
                .link{
                    a{
                        font-size: 18px;
                        &:after{
                            top: 25%;
                        }
                    }
                }
            }
            .page-footer-text{
                margin: 0px;
            }
        }
    }
}